doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/awesome/css/all.min.css')
    script(type="application/javascript", src="/js/minjquery.js")
    script(type="application/javascript", src="/js/bootstrap.js")
    script(type="application/javascript", src="/assets/ckeditor/ckeditor.js")
  body
    div.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href="/discover") #{identifier}
      button.navbar-toggler(type='button' data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent")
        span.navbar-toggler-icon
      .container    
        //collapsable nav bar div
        .collapse.navbar-collapse#navbarSupportedContent
          form.form-inline.my-2.my-lg-0(id="", method="", action="")
            input.form-control.mr-sm-2(type="search", placeholder="Search stories", aria-label="search")
            i.fas.fa-search    
            button.btn.bt-outline-success.my-2.my-sm-0(type="submit", ) Search
            
          ul.navbar-nav.float-sm-right.float-md-right.float-lg-right
            //- li.nav-item.active
            //-   a.nav-link(href="/") Home 
            //-     span.sr-only
  
            li.nav-item.active
              a.nav-link(href="/blog/new") Create Blog
                span.sr-only 
                i.fas.fa-folder-plus
            li.nav-item.active
              a.nav-link(href="/posts/#{blog.id}/new") Create story 
                span.sr-only
                i.fas.fa-pen-fancy
            li.nav-item.active
              a.nav-link(href="/blog/manage") Manage 
                span.sr-only 
                i.fas.fa-user-circle
            li.nav-item.active
              a.nav-link(href="/discover") Discover 
                span.sr-only 
                i.fas.fa-sign-out-alt   
            li.nav-item.active
              a.nav-link(href="/profile") My Account 
                span.sr-only 
                i.fas.fa-user-circle

    block content
    script(type="application/javascript", src="/js/support.js")
    script(type="application/javascript", src="/js/site.js")
