extends default

block content
  div.container.new-post
    h3 Create New Post
    form(id="", method="POST", action="/posts/new", enctype="multipart/form-data")
      div.file-upload
        label(style="display: block;") Header
        div.form-group.image-upload-wrap
            input.file-upload-input(type="file", name="header_image" onchange="readURL(this);" accept="image/*")
            div.drag-text
              h5 Drag and drop a file or select add image
          
        div.file-upload-content
            img.file-upload-image(src="#", alt="header image")
            div.image-title-wrap
              button(type="button", class="file-upload-btn"  onclick="$('.file-upload-input').trigger( 'click' )") Change Header image
      div.form-group.clearClass
        label Post Title
        input.form-control(type="text", name="title",placeholder="Title", required)
      div.form-group
        label Tags
        input.form-control(type="text",  name="tags", placeholder="Select associated tags")
      div.form-group
        label Post Content
        textarea.form-control#editor(name="body", placeholder="Article body", required)
      button.btn.btn-success.btn-sm(type="submit") Create Post

      script.
        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.
        CKEDITOR.replace( 'editor', {
             height: 300,
       
             // Configure your file manager integration. This example uses CKFinder 3 for PHP.
             filebrowserBrowseUrl: '/apps/ckfinder/3.4.5/ckfinder.html',
             filebrowserImageBrowseUrl: '/apps/ckfinder/3.4.5/ckfinder.html?type=Images',
             filebrowserUploadUrl: '/apps/ckfinder/3.4.5/core/connector/php/connector.php?command=QuickUpload&type=Files',
             filebrowserImageUploadUrl: '/apps/ckfinder/3.4.5/core/connector/php/connector.php?command=QuickUpload&type=Images'
        });
