doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/awesome/css/all.min.css')
    script(type="application/javascript", src="/js/minjquery.js")
    script(type="application/javascript", src="/js/bootstrap.js")
    script(type="application/javascript", src="/assets/ckeditor/ckeditor.js")
  body
    div.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href="/") Latara
      button.navbar-toggler(type='button' data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent")
        span.navbar-toggler-icon
      .container    
        //collapsable nav bar div
        .collapse.navbar-collapse#navbarSupportedContent
          form.form-inline.my-2.my-lg-0(id="", method="", action="")
            input.form-control.mr-sm-2(type="search", placeholder="Search stories", aria-label="search")
            i.fas.fa-search    
            button.btn.bt-outline-success.my-2.my-sm-0(type="submit", ) Search
            
          ul.navbar-nav.float-sm-right.float-md-right.float-lg-right
            //- li.nav-item.active
            //-   a.nav-link(href="/") Home 
            //-     span.sr-only
            -if(_loggedIn){
            
              li.nav-item.active
                a.nav-link(href="/blog/new")
                  i.fas.fa-folder-plus
                  span  Create Blog
              li.nav-item.active
                a.nav-link(href="/posts/new")
                  i.fas.fa-pen-fancy
                  span  Write out 
                  
              li.nav-item.active
                a.nav-link(href="/library")
                  i.fas.fa-folder
                  span  Library

              li.nav-item.active
                a.nav-link(href="/profile")
                  i.fas.fa-user-circle
                  span  My account
              li.nav-item.active
                a.nav-link(href="/logout") Sign out 
                  span.sr-only 
                  i.fas.fa-sign-out-alt            
            -}else {
              li.nav-item.active
                button.btn(type="button", data-target="#loginModal", data-toggle="modal"  ) Sign in
                  span.sr-only 
                  i.fas.fa-sign-out-alt    
            -}

    block content
    div.modal.fade(id="loginModal", role="modal")
      div.modal-dialog.modal-dialog-centered(role="document")
        div.modal-content
          div.modal-header Sign in
            button(type="button", class="close", data-dismiss="modal", aria-label="Close" )
              span &times;
          form(id="", method="post", action="/login")
            div.modal-body
              div.form-group
                label Username or Email
                input.form-control(type="text", placeholder="Username", name="username")
              div.form-group
                label Password
                input.form-control(type="password", placeholder="Password", name="password")
            div.modal-footer
              button.btn.btn-secondary(type="button", data-dismiss="modal", aria-label="Close") Close
              button.btn.btn-primary(type="submit", ) Log in
    script(type="application/javascript", src="/js/support.js")
    script(type="application/javascript", src="/js/site.js")
