doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(type="application/javascript", src="js/minjquery.js")
    script(type="application/javascript", src="js/bootstrap.js")
  body
    div.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href="/") Latara
      button.navbar-toggler(type='button' data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent")
        span.navbar-toggler-icon
      .container    
        //collapsable nav bar div
        .collapse.navbar-collapse#navbarSupportedContent    
          ul.navbar-nav.float-sm-right.float-md-right.float-lg-right
            li.nav-item.active
              a.nav-link(href="/signup") Sign up 
                span.sr-only 

    block content
