extends default

block content
  div.container
    div.header-image
      h4.title #{title}
    div.story 
    div.tags
    div.comments
      h5 Responses

    script.
      var story = document.getElementsByClassName('story');
      alert(JSON.stringify(#{body}));
