doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
   block content
        table
            thead
                tr Hello
            tbody
                tr Welcome
