body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.new-post{
  padding-top: 30px;
}

.new-post h3{
  padding-bottom: 10px;
}

.clearClass{
  clear: both;
}

/*Upload image css*/

.file-upload {
  background-color: #ffffff;
  margin: 0 auto;
  padding: 20px 0 20px 0;
}
.file-upload-wrapper {
  position: relative;
  margin-bottom: 5px;
}

.file-upload-content {
  display: none;
  text-align: center;
  float: left;
  width: 80%;
  margin: auto;
}


.file-upload-image {
  max-height: 450px;
  max-width: 550px;
  margin: auto;
  padding: 20px;
}


.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}
.file-upload-input:hover, .file-upload-input:focus {
  background-color: #ab3326;
  outline: none;
}

.file-upload-button {
  cursor: pointer;
  display: inline-block;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  padding: 11px 20px;
  border: none;
  margin-left: -1px;
  background-color: #962d22;
  float: left;
  /* IE 9 Fix */
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.file-upload-button:hover {
  background-color: #6d2018;
}

.drag-text h5 {
  font-weight: 100;
  text-transform: uppercase;
  color: #15824B;
  padding: 60px 0;
}

.drag-text {
  text-align: center;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed #1FB264;
  position: relative;
}

.image-upload-wrap:hover {
  background-color: #1FB264;
  border: 4px dashed #ffffff;
}
